*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    line-height:1.6;
    background:#f5f5f5;
    color:#333;
}

/* Hero Section */

.hero{
    height:100vh;
    background:linear-gradient(to right,#0072ff,#00c6ff);
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero-content h1{
    font-size:3rem;
}

.hero-content p{
    margin:20px 0;
    font-size:1.2rem;
}

.btn{
    text-decoration:none;
    background:white;
    color:#0072ff;
    padding:12px 25px;
    border-radius:5px;
    font-weight:bold;
}

/* Sections */

section{
    padding:60px 10%;
}

h2{
    text-align:center;
    margin-bottom:30px;
}

/* Projects */

.project-container{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
}

.card{
    background:white;
    padding:25px;
    width:280px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    text-align:center;
}

.card i{
    font-size:40px;
    color:#0072ff;
    margin-bottom:15px;
}

/* Contact */

.contact{
    text-align:center;
}

.socials a{
    margin:10px;
    font-size:30px;
    color:#0072ff;
}

/* Footer */

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}